* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #24252A;
    --secondary-color: #313238;
    --tertiary-color: #202124;
    --tertiary-color: #202124;
    --cuarto-color: #605f5f;
}

body {
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}

.header {
    width: 100%;
    height: 40px;
    background-color: var(--cuarto-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.header .header_top {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header_top .img_logDiv .img_logo {
    width: 40px;
}

.link_header {
    background-color: var(--cuarto-color);
}

.link_header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.link_header ul li {
    padding: 10px;
}

.link_header ul li a {
    text-decoration: none;
    color: white;
}

.link_header .dropdown-menu {
    margin-top: 0.5%;
    display: none;
    position: absolute;
    background-color: var(--cuarto-color);
}

.link_header .dropdown:hover .dropdown-menu {
    display: block;
}

.link_header .dropdown-menu li {
    padding: 10px;
}

.link_header .dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.link_header ul li:hover {
    background-color: rgba(0, 255, 204, 0.458);
}

.link_header ul li a:hover {
    color: rgb(234, 245, 36);
}



.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.titulo_1 h1,
.texto p {
    color: white;
    text-align: center;
}

.texto {
    width: 73%;
}



.container-bottom {
    width: 95%;
    display: block;
    margin-top: 2%;
}

.container-bottom .pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #ccc;
}

.container-plan {
    width: 200px;
    height: 250px;
    margin-top: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: rgb(207, 209, 211);
}


.container-plan p {
    margin-bottom: 4px;
}



.container-plan .container-plan-name {
    width: 100%;
    height: 35px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-plan:hover .container-plan-name {
    background-color: yellow;
}

.planes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 30px;
}

.price {
    margin-top: 5%;
    margin-bottom: 5%;
}

.price h2 {
    display: inline-block;
}

.price .precio {
    color: yellow;
}

.container-plan {
    margin-right: 5%;
    border-style: solid;
    border-color: #605f5f;
}

.center {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.center .card {
    width: 200px;
    height: 250px;
    margin-right: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: aliceblue;
}

.card_img img {
    width: 100%;
    height: auto;
}

.container-plan-buy button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.container-plan-buy button:hover {
    background-color: #2980b9;
}

.container-plan .container-plan-details .pharetra,
.container-plan .container-plan-details .massa {
    opacity: 0.5; 
    text-decoration: line-through; 

}

